openai
scikit-learn
sentence-transformers
langchain
db-dtypes
google-cloud-bigquery
streamlit
great-expectations
passlib
python-jose
psycopg2-binary
bcrypt
uvicorn
fastapi
pydantic 
sqlalchemy 
passlib
python-multipart